<section id="navigation">
  <div class="page-header">
    <h1>Nav: tabs, pills, and lists</h1>
    <p>There is 3 types of navigation helper, <strong>Bootstrap.Tabs</strong>, <strong>Bootstrap.Pills</strong> and <strong>Bootstrap.NavList</strong> see below various way to use them.</p>
  </div>

  {{outlet static}}
  {{outlet stackable}}
  {{outlet static_custom_links}}
  {{outlet objects}}
  {{outlet objects_custom}}
  {{outlet mixed}}
</section>